<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta http-equiv="Refresh" content="5"-->
    <meta name="keywords" content="关键字，123">
    <title>联系的标题</title>
    <link rel="shortcut icon" href="image/cc.ico">
    <style>
        .c1{
            background-color: aliceblue;
            color:darkgreen;
            height:80px;
        }
    </style>
</head>
<body>
<form action="https://www.sogou.com/web" method="get">
<div>
    <input type="text" class="c1" name="query"/>
    <input type="submit" class="c1" value="搜索"/>
</div>
</form>
</body>
</html>